In [7]:
from pathlib import Path

root = Path.cwd().parents[0]          # c:/projects/project-1-ecommerce
csv_path = root / "data" / "raw" / "Ecommerce_Sales_Data_2024_2025.csv"

csv_path.exists(), csv_path

(True,
 WindowsPath('c:/projects/project-1-ecommerce/data/raw/Ecommerce_Sales_Data_2024_2025.csv'))

In [8]:
import pandas as pd

df = pd.read_csv(csv_path)
df.shape

(5000, 14)

In [9]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       5000 non-null   int64
 1   Order Date     5000 non-null   str
 2   Customer Name  5000 non-null   str
 3   Region         5000 non-null   str
 4   City           5000 non-null   str
 5   Category       5000 non-null   str
 6   Sub-Category   5000 non-null   str
 7   Product Name   5000 non-null   str
 8   Quantity       5000 non-null   int64
 9   Unit Price     5000 non-null   int64
 10  Discount       5000 non-null   int64
 11  Sales          5000 non-null   float64
 12  Profit         5000 non-null   float64
 13  Payment Mode   5000 non-null   str
dtypes: float64(2), int64(4), str(8)
memory usage: 547.0 KB

In [10]:
df.columns.tolist()

['Order ID',
 'Order Date',
 'Customer Name',
 'Region',
 'City',
 'Category',
 'Sub-Category',
 'Product Name',
 'Quantity',
 'Unit Price',
 'Discount',
 'Sales',
 'Profit',
 'Payment Mode']

In [11]:
parsed = pd.to_datetime(df["Order Date"], errors="coerce")
parsed.isna().mean()

np.float64(0.0)

In [12]:
df[["Quantity", "Unit Price", "Discount", "Sales", "Profit"]].describe()

          Quantity    Unit Price     Discount          Sales        Profit
count  5000.000000   5000.000000  5000.000000    5000.000000   5000.000000
mean      2.992600  39760.904600    10.051000  106733.204870  15941.746982
std       1.413133  22831.783946     7.084662   85108.208202  14897.684916
min       1.000000    222.000000     0.000000     264.100000     19.120000
25%       2.000000  20312.250000     5.000000   39766.537500   4892.295000
50%       3.000000  39459.500000    10.000000   83080.325000  11108.525000
75%       4.000000  59721.750000    15.000000  156968.587500  22467.987500
max       5.000000  79998.000000    20.000000  398485.000000  89688.440000